<ng-container *ngIf="poeForm">

    <form [formGroup]="poeForm" (ngSubmit)="onSubmit()">
        <!-- Onsubmit  -->

        <h1>Ajouter une Poe</h1>

        <label for="title">Veuillez saisir le nom d'une Poe:</label>
        <input id="title" type="text" placeholder="title" formControlName="title">

        <!-- TODO : en dessous, remplacer par un menu déroulant 

        <label for="type">Type de Poe:</label>
        <input id="type" type="text" placeholder="type" formControlName="type">

        -->

        <select name="poeType" id="type" placeholder="type" formControlName="type">
            <option value="POEI">POEI</option>
            <option value="POEC">POEC</option>
        </select>



        <div id="beginDate">
            <mat-form-field appearance="fill">
                <mat-label>Begindate</mat-label>
                <input matInput [matDatepicker]="dp">
                <mat-hint>Format : JJ-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
        </div>

        <div id="endDate">
            <mat-form-field appearance="fill">
                <mat-label>EndDate</mat-label>
                <input matInput [matDatepicker]="bp">
                <mat-hint>Format : JJ-MM-YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="bp"></mat-datepicker-toggle>
                <mat-datepicker #bp></mat-datepicker>
            </mat-form-field>
        </div>


        <button [disabled]="!poeForm.valid">{{addMode ? 'Ajouter' : 'Modifier'}}</button>


        <button type="button" (click)="goHome()">Retour à la maison</button>

    </form>

</ng-container>