<div class="stagiaireCard" *ngIf="stagiaire">

  <div class="outer-dialog">
    <div class="inner-dialog">

      <div class="topCard">
        <div appBubble [config]="bubbleConfig" class="initials">{{stagiaire | initials : {firstNameFirst: true, full:
          true} }}</div>
        <h1>Fiche stagiaire</h1>
        <button type="button" class="link-button" [routerLink]="['/']" (click)="closeStagiaireCard()">X</button>
      </div>

      <div class="infosCard">
        <p>Lastname : {{stagiaire.getLastName()}}</p>
        <p>Firstname : {{stagiaire.getFirstName()}}</p>
        <p>Birthdate : {{stagiaire.getBirthDate() | date}}</p>
        <p>Email : {{stagiaire.getEmail()}}</p>
        <p>Phone number : {{stagiaire.getPhoneNumber()}}</p>
      </div>

    </div>
  </div>



</div>