<!-- <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

  <h1>Connexion</h1>

  <div class="field-control">

    <mat-form-field>
      <input matInput formControlName="userLogin" placeholder="Login">
      <mat-error *ngIf="loginForm.get('userLogin')!.errors && loginForm.get('userLogin')!.touched"></mat-error>
    </mat-form-field>

  </div>

  <div class="field-control">

    <mat-form-field>
      <input matInput formControlName="userPassword" placeholder="Your password" type="password">
      <mat-error *ngIf="loginForm.get('userPassword')!.errors && loginForm.get('userPassword')!.touched"></mat-error>
    </mat-form-field>

  </div>

  <div class="field-control">

    <mat-slide-toggle formControlName="stayConnected">Stay Connected</mat-slide-toggle>

  </div>

  <div class="button">

    <button mat-raised-button color="primary" [disabled]="loginForm.invalid"> Login </button>

  </div>

</form>

<form name='signinForm' (submit)="doSignin()">

  <h1>Connexion</h1>
  <div style=" color : red" *ngIf='error'>{{error}}</div>

  <div class="field-control">

    <input type='text' name='username' [(ngModel)]="username" placeholder="Login">

    <input type='password' name='password' placeholder="Password" [(ngModel)]="password" />

    <input class="link-button" name="submit" type="submit" value="Connexion" />

    <label for="signup">Don't have account?</label>
    <a name="signup" href="/signup" routerLink="/signup">Signup</a>

  </div>

</form>

-->

<div class="form" id="signin-box">
  <h1>Connexion</h1>
  <div style="color : red" *ngIf='error'>{{error}}</div>
  <form name='signinForm' (submit)="doSignin()">
    <table>
      <tr>
        <td>Username:</td>
        <td><input type='text' name='username' [(ngModel)]="username"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type='password' name='password' [(ngModel)]="password" /></td>
      </tr>
      <tr>
        <td><input class="link-button" name="submit" type="submit" value="Signin" /></td>
        <td>Don't have account? <a href="/signup" routerLink="/signup">Signup</a></td>
      </tr>
    </table>
  </form>
</div>