$head-and-foot-color : rgb(212, 145, 62);
$head-and-foot-text-color : rgb(0, 0, 0);

table {
  margin: auto;
  margin-top: 4em;
  border-collapse: collapse;
  text-align: center;
}

// Mise en grille du tableau : 
td,
th {
  border: solid;
  height: 2em;
  padding: .5em 0
}


// Elargissement des colonnes:  
thead {
  th {
    width: 10em;
    height: 3em;
  }
}

// Mise en valeur du Thead et tu Tfoot : 
thead,
tfoot {
  tr {
    background-color: $head-and-foot-color;
    color: $head-and-foot-text-color;
  }
}

.buttonDelete {
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 5em;
  cursor: pointer;
  line-height: 1.5;
}

// .initials {
//   display: flex;
//   justify-content: center;
//   background-color: rgba(255, 255, 255, 0.651);
//   width: 1.5em;
//   height: 1.5em;
//   border-radius: 2.5em;
//   padding: .5em;
//   margin: auto;
//   line-height: 1.5;
// }

.stagiaireLine {
  cursor: pointer;
}