<header>
  <a id="home" [routerLink]="['/', 'home']"><i class="fa-solid fa-house"></i></a>
  <h1 (click)="toggleTitle()">
    {{ title }}
  </h1>

  <ul class="navbar">
    <li *ngIf="hasUser">
      <a href="#">POE List</a>
    </li>
    <li *ngIf="hasUser">
      <a [routerLink]="['/', 'stagiaire']">Trainees</a>
    </li>

    <li>
      <a *ngIf="!hasUser" [routerLink]="['/', 'login']">Login</a>
      <a *ngIf="hasUser" href="" (click)="onLogout()"><i class="fa-solid fa-person-through-window"></i></a>

    </li>
  </ul>
</header>

<!-- Etagère à routes : C'est là qu'Angular charge les composants routés -->

<router-outlet></router-outlet>