$title-background-color: rgb(212, 145, 62); // Background color
$std-color : rgb(255, 255, 255); // Front color 

button {
  display: block;
  margin: auto;
  margin-top: 2em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: .5em;
}