/* You can add global styles to this file, and also import other style files */

// Variables: 
$main-color : rgb(212, 145, 62);
$main-font: 'Acme', sans-serif;
;

/************************* REINITIALISATION  *************************/

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0093E9;
  background-image: linear-gradient(114deg, #0093E9 0%, #80D0C7 100%);
  font-family: $main-font !important;
}

.mainButton {
  padding: 0.5em;
  margin: 0.5em;
}

// Affichage d'une carte de stagiaire : // 

.zoom-in {
  animation: zoomIn 1s ease-in-out 0s 1 backwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.0);
  }

  25% {
    transform: scale(1.25);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(2.0);
  }
}

//** Affichage d'une carte de stagiaire : **// 

// Style d'un formulaire (Carte) perso // 


// form {
//   margin: 2em auto;
//   padding: 2em;
//   width: 25%;
//   border: solid;
//   background-color: #fff;
//   display: flex;
//   flex-direction: column;
//   text-align: center;
// }

// form label,
// form button {
//   margin-top: .75em;
//   font-weight: bold;
// }

// form input,
// form button {
//   height: 1.5em;
//   border-radius: 25px;
//   text-align: center;
//   font-family: $main-font;
// }

// form input {
//   border-top: none;
//   margin: auto;
//   width: 75%;
// }

// form button {
//   height: 2em;
//   width: 25%;
//   margin: 1.5em auto 0 auto;
//   background-color: rgb(212, 145, 62);
//   color: #fff;
//   cursor: pointer;
// }

//** Style d'un formulaire (Carte) Perso **// 


// Style d'un formulaire (Carte) avec Material : // 

form {
  margin: 2em auto;
  padding: 2em;
  width: 25%;
  border: solid;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

form label,
form button {
  margin-top: .75em;
  font-weight: bold;
}

form input,
form button {
  height: 2.5em;
  text-align: center;
  font-family: $main-font;
}

form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black !important;
}

form input::placeholder {
  color: $main-color !important;
}

form div {
  display: flex;
  flex-direction: column;
}

#birthDate {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

.mat-form-field-infix {
  width: 100% !important;
}

.mat-form-field-flex,
.mat-button-wrapper {
  text-align: center;
  font-family: $main-font;
}

.mat-raised-button {
  margin-top: 1.75em !important;
}

//** Style d'un formulaire (Carte) avec Material : **// 

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 2em;
  text-decoration: none;
  background-color: $main-color;
  color: #fff;
  border: solid black;
  border-radius: 25px;
  margin: 2em auto;
  text-align: center;
  cursor: pointer;
}

.link-button:hover {
  border-color: #fff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  //  font-family: Roboto, "Helvetica Neue", sans-serif;
}