<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>BeginDate</th>
            <th>EndDate</th>
            <th>Type</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let poe of poes">
            <tr>
                <td> {{ poe.getId() }} </td>
                <td> {{ poe.getTitle() }} </td>
                <td> {{ poe.getBeginDate() | date: 'dd-MM-YYYY' </td>
                <td> {{ poe.getEndDate() | date: 'dd-MM-YYYY' </td>
                <td> {{ poe.getPoeType() }} </td>
                <td button type="button">M</td>
                <td button type="button">X</td>
            </tr>
        </ng-container>
    </tbody>
</table>
